---
import ArticleList from "@/components/article/ArticleList.astro";
import Tag from "@/components/article/Tag.astro";
import SectionHeading from "@/components/heading/SectionHeading.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import PageTitle from "@/components/heading/PageTitle.astro";
import { getArticles, getArticlesByTag } from "@/content-utils/query/articles";
import BaseLayout from "@/layouts/BaseLayout.astro";
import pkg from "@root/package.json";
import Main from "@/components/Main.astro";

export async function getStaticPaths() {
  const allTags = new Set<string>();
  const articles = await getArticles();

  for (const article of articles) {
    for (const tag of article.data.tags) {
      allTags.add(tag);
    }
  }

  return Array.from(allTags).map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;
const articles = await getArticlesByTag(tag);

if (articles.length === 0) {
  throw new Error(`No articles for tag "${tag}"`);
}
---

<BaseLayout
  type="website"
  title={tag}
  description={pkg.description}
  opengraphImage="./opengraph.png"
>
  <Main size="medium">
    <PageTitle>
      <Tag kind="title">{tag}</Tag>
    </PageTitle>
    <SectionHeading>Writing</SectionHeading>
    <ArticleList tag={tag} />
    <SiteFooter location="standalone" />
  </Main>
</BaseLayout>
