---
import ThreadsLink from "@/components/social/ThreadsLink.astro";
import GithubLink from "@/components/social/GithubLink.astro";
import EmailLink from "@/components/social/EmailLink.astro";
import MastodonLink from "@/components/social/MastodonLink.astro";
import FeedLink from "@/components/social/FeedLink.astro";
import TwitterLink from "@/components/social/TwitterLink.astro";
import InstagramLink from "@/components/social/InstagramLink.astro";
import RedditLink from "@/components/social/RedditLink.astro";
import LobstersLink from "@/components/social/LobstersLink.astro";
import HackerNewsLink from "@/components/social/HackerNewsLink.astro";
import FacebookLink from "@/components/social/FacebookLink.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getAlan } from "@/content-utils/query/authors";
import SectionHeading from "@/components/heading/SectionHeading.astro";
import PageTitle from "@/components/heading/PageTitle.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import BlueSkyLink from "@/components/social/BlueSkyLink.astro";
import Main from "@/components/Main.astro";

const alan = await getAlan();
const size = 52;
---

<style>
  @layer page {
    div.sections {
      columns: 1;

      @media (--md-up-viewport) {
        columns: 2;
      }
    }

    section:not(:last-of-type) {
      margin-block-end: var(--spacing-6);
    }

    section {
      &.inactive > ul {
        opacity: 0.25;
      }

      & > ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8);

        li {
          line-height: 1;
        }
      }
    }
  }
</style>

<BaseLayout
  type="website"
  title="Contact"
  description={`How to contact ${alan.data.name}`}
>
  <Main size="large">
    <PageTitle>Alan on the Internet</PageTitle>
    <div class="sections">
      <section>
        <SectionHeading>Boomer Shit</SectionHeading>
        <ul>
          <li>
            <EmailLink
              size={size}
              text={`E-mail – ${alan.data.socials.email.handle}`}
            />
          </li>
          <li>
            <FeedLink {size} text="This Site's RSS Feed" />
          </li>
        </ul>
      </section>

      <section>
        <SectionHeading>Programming</SectionHeading>
        <ul>
          <li>
            <LobstersLink
              {size}
              text={`Lobste.rs – ${alan.data.socials.lobsters.handle}`}
            />
          </li>
          <li>
            <MastodonLink
              {size}
              text={`Mastodon – ${alan.data.socials.mastodon.handle}`}
            />
          </li>
          <li>
            <GithubLink
              {size}
              text={`GitHub – ${alan.data.socials.github.handle}`}
            />
          </li>
          <li>
            <BlueSkyLink
              {size}
              text={`Bluesky – ${alan.data.socials.bluesky.handle}`}
            />
          </li>
        </ul>
      </section>

      <section>
        <SectionHeading>Social</SectionHeading>
        <ul>
          <li>
            <RedditLink
              {size}
              text={`Reddit – ${alan.data.socials.reddit.handle}`}
            />
          </li>
        </ul>
      </section>

      <section class="inactive">
        <SectionHeading>Inactive</SectionHeading>
        <ul>
          <li>
            <HackerNewsLink
              {size}
              text={`Hacker News – ${alan.data.socials.hackernews.handle}`}
            />
          </li>
          <li>
            <FacebookLink
              {size}
              text={`Facebook – ${alan.data.socials.facebook.handle}`}
            />
          </li>
          <li>
            <TwitterLink
              {size}
              text={`Twitter – ${alan.data.socials.twitter.handle}`}
            />
          </li>
          <li>
            <ThreadsLink
              {size}
              text={`Threads – ${alan.data.socials.threads.handle}`}
            />
          </li>
          <li>
            <InstagramLink
              {size}
              text={`Instagram – ${alan.data.socials.instagram.handle}`}
            />
          </li>
        </ul>
      </section>
    </div>

    <SiteFooter location="standalone" />
  </Main>
</BaseLayout>
